# An Analysis of Political Contributions During the 2020 House of Representatives Election

#### In this part, you will obtain as much data as you can on the campaign contributions received by each candidate. This data is avaiable through the website https://www.opensecrets.org/.

## Part 1: Data Gathering

In [4]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from IPython.core.display import HTML
import io
import re
import regex
import csv
from datetime import datetime as dt
import urllib3
from IPython.core.display import HTML
# import re2
from requests.exceptions import ConnectionError

### 1. Start by acquiring the data from Tennessee's 7th District, which is available at https://www.opensecrets.org/races/summary?cycle=2020&id=TN07&spec=N. If you click the "Download .csv file", you can get a csv for this district. However, we don't want to have to click this button across all districts. Instead, we'll use Python to help automate this process. Start by sending a get request to the download button URL, https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07. Convert the result to a DataFrame.

In [6]:
#Nitin's code
url = 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07'

#Lets use try-except whenever we make any any http request.

#If we invoke .raise_for_status(), then Requests will raise an HTTPError for status codes between 400 and 600. 
#If the status code indicates a successful request, then the program will proceed without raising that exception.

try:
    
    response = requests.get(url)
    response.raise_for_status()
except HTTPError as http_err:
    print(f"HTTP error occurred: {http_err}")
except Exception as err:
    print(f"Other error occurred: {err}")
else:
    data = response.content.decode('utf8')
    df = pd.read_csv(io.StringIO(data))

#Lets populate the district ID column with TN07 so that we could use it later
df['DistIDCurr']='TN07'
df.head(2)

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00041873,Mark Green (R),1194960.47,935486.67,171900.0,819151.42,0.0,203909.05,287888.55,819151.42,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,1,N
1,N00045536,Kiran Sreepada (D),206644.28,207190.98,4000.0,202644.28,0.0,0.00,0.00,179129.75,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N

In [7]:
url = 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07'

r = requests.get(url)
r.raise_for_status
#data = r.content.decode('utf8')
#df = pd.read_csv(io.StringIO(data))
#df.head(2)

In [8]:
dist_01 = 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN01'

r = requests.get(dist_01)
data = r.content.decode('utf8')
df = pd.read_csv(io.StringIO(data))
df.head(2)

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00046688,Diana Harshbarger (R),2126945.60,1869099.77,222800.0,359728.50,1461293.0,83124.1,257845.83,315489.1,...,W,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,,0,2,N
1,N00046686,Blair Nicole Walsingham (D),140209.14,134994.55,1520.0,138689.14,0.0,0.0,5214.59,70085.2,...,L,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,,0,2,N

### 2. Once you have working code for Tennessee's 7th District, expand on your code to capture all of Tennessee's districts into a single DataFrame. Make sure that you can distinguish which district each result came from. Export the results to a csv file.

In [10]:
# nitin's code

url = 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07'

#Lets use try-except whenever we make any any http request.

#If we invoke .raise_for_status(), then Requests will raise an HTTPError for status codes between 400 and 600. 
#If the status code indicates a successful request, then the program will proceed without raising that exception.

try:
    
    response = requests.get(url)
    response.raise_for_status()
except HTTPError as http_err:
    print(f"HTTP error occurred: {http_err}")
except Exception as err:
    print(f"Other error occurred: {err}")
else:
    data = response.content.decode('utf8')
    df = pd.read_csv(io.StringIO(data))

#Lets populate the district ID column with TN07 so that we could use it later
df['DistIDCurr']='TN07'
df.head(2)

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00041873,Mark Green (R),1194960.47,935486.67,171900.0,819151.42,0.0,203909.05,287888.55,819151.42,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,1,N
1,N00045536,Kiran Sreepada (D),206644.28,207190.98,4000.0,202644.28,0.0,0.00,0.00,179129.75,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N

### 3. Once you have working code for all of Tennessee's districts, expand on it to capture all states and districts. The number of districts for each state can be found at https://en.wikipedia.org/wiki/2020_United_States_House_of_Representatives_elections. You may also find the table of state abbreviations here helpful: https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations. Export a csv file for each state.

In [12]:
# https://en.wikipedia.org/wiki/2020_United_States_House_of_Representatives_elections
# Number of representatives for each state
# scrape wiki page - data strings from there and use those strings to interpolate the url through 

wiki_rep_url = 'https://en.wikipedia.org/wiki/2020_United_States_House_of_Representatives_elections'

r = requests.get(wiki_rep_url)
wiki_rep_soup = BeautifulSoup(r.text, features="html.parser")

table_html_rep_wiki = str(wiki_rep_soup.find('table', attrs={'class':['wikitable', 'sortable jquery-tablesorter'], 'style':'text-align:center'}))
HTML(table_html_rep_wiki)
# reformat table as a df

wiki_rep_df = pd.read_html(io.StringIO(str(table_html_rep_wiki)))[0]
#wiki_rep_df.head(2)
wiki_rep_df_limited = wiki_rep_df[['State', 'Total seats']]
wiki_rep_df_limited_flat = wiki_rep_df_limited.to_csv(header=None,index=False)
wiki_rep_df_limited_flat_df = pd.read_csv(io.StringIO(wiki_rep_df_limited_flat), names=['US State', 'Number of Districts'])
wiki_rep_df_limited_flat_df.head(2)

  US State  Number of Districts
0  Alabama                    7
1   Alaska                    1

In [13]:
wiki_rep_df_limited_flat_df.head()

     US State  Number of Districts
0     Alabama                    7
1      Alaska                    1
2     Arizona                    9
3    Arkansas                    4
4  California                   53

In [14]:
# https://www.worldatlas.com/geography/usa-states.html
# Abbreviations of each state
# scrape page - data strings from there and use those strings to interpolate the url through 
StateAbbrev_url = 'https://www.worldatlas.com/geography/usa-states.html'

r = requests.get(StateAbbrev_url)
StateAbbrev_soup = BeautifulSoup(r.text, features="html.parser")

table_html_StateAbbrev = str(StateAbbrev_soup.find('table'))
HTML(table_html_StateAbbrev)
wiki_st_opp_df = pd.read_html(io.StringIO(str(table_html_StateAbbrev)))[0]
wiki_st_opp_df.head(2)

  US State Abbreviation
0  Alabama           AL
1   Alaska           AK

In [15]:
# merge the wiki df for number of state representatives per state with state name with df for state abbr with state name
st_rep_df_merged = pd.merge(wiki_st_opp_df, wiki_rep_df_limited_flat_df, on = "US State", how = "inner")
st_rep_df_merged_drop = st_rep_df_merged.drop('US State', axis=1)
#st_rep_df_merged_drop['Number of Districts'] = st_rep_df_merged_drop['Number of Districts'].astype(str).str.zfill(2)
st_rep_df_merged_drop.head(2)

  Abbreviation  Number of Districts
0           AL                    7
1           AK                    1

In [16]:
st_rep_df_merged_drop['Abbreviation'][2]

'AZ'

In [17]:
st_rep_df_merged_drop['Number of Districts'][5]

7

In [18]:
#st_rep_df_merged_drop['tuple_try'] = list(zip(st_rep_df_merged_drop.)

In [19]:
st_abbr = st_rep_df_merged_drop['Abbreviation']
dist_num = st_rep_df_merged_drop['Number of Districts']
open_secrets_csv_url_base = f'https://www.opensecrets.org/races/summary.csv?cycle=2020&id='
#open_secrets_csv_url_base
st_abbr[:6]

0    AL
1    AK
2    AZ
3    AR
4    CA
5    CO
Name: Abbreviation, dtype: object

In [20]:
st_rep_df_merged_drop

   Abbreviation  Number of Districts
0            AL                    7
1            AK                    1
2            AZ                    9
3            AR                    4
4            CA                   53
5            CO                    7
6            CT                    5
7            DE                    1
8            FL                   27
9            GA                   14
10           HI                    2
11           ID                    2
12           IL                   18
13           IN                    9
14           IA                    4
15           KS                    4
16           KY                    6
17           LA                    6
18           ME                    2
19           MD                    8
20           MA                    9
21           MI                   14
22           MN                    8
23           MS                    4
24           MO                    8
25           MT                    1
26           NE                    3
27           NV                    4
28           NH                    2
29           NJ                   12
30           NM                    3
31           NY                   27
32           NC                   13
33           ND                    1
34           OH                   16
35           OK                    5
36           OR                    5
37           PA                   18
38           RI                    2
39           SC                    7
40           SD                    1
41           TN                    9
42           TX                   36
43           UT                    4
44           VT                    1
45           VA                   11
46           WA                   10
47           WV                    3
48           WI                    8
49           WY                    1

In [21]:
dist_num

0      7
1      1
2      9
3      4
4     53
5      7
6      5
7      1
8     27
9     14
10     2
11     2
12    18
13     9
14     4
15     4
16     6
17     6
18     2
19     8
20     9
21    14
22     8
23     4
24     8
25     1
26     3
27     4
28     2
29    12
30     3
31    27
32    13
33     1
34    16
35     5
36     5
37    18
38     2
39     7
40     1
41     9
42    36
43     4
44     1
45    11
46    10
47     3
48     8
49     1
Name: Number of Districts, dtype: int64

In [22]:
urls_st = []
dist_num_container = []
#def add_to_url_begin(st_abbr):

for i in range(0, len(st_abbr)):
    urls_st.append(open_secrets_csv_url_base + st_abbr[i])
    for item in range(dist_num[i], 0, -1):
        urls_st.append(str(item).zfill(2))
urls_st[:6]

['https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL',
 '07',
 '06',
 '05',
 '04',
 '03']

In [23]:
urls_st_dist = []
dist_num_container = []
#def add_to_url_begin(st_abbr):

for i in range(0, len(st_abbr)):
    for d in range(dist_num[i], 0, -1):
        urls_st_dist.append(open_secrets_csv_url_base + st_abbr[i] + str(d).zfill(2)) 

urls_st_dist

['https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AL01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AK01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AZ01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AR04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AR03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AR02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=AR01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA53',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA52',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA51',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA50',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA49',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA48',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA47',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA46',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA45',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA44',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA43',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA42',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA41',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA40',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA39',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA38',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA37',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA36',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA35',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA34',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA33',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA32',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA31',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA30',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA29',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA28',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA27',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA26',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA25',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA24',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA23',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA22',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA21',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA20',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA19',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA18',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA17',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA16',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA15',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA14',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CA01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CO01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CT05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CT04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CT03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CT02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=CT01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=DE01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL27',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL26',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL25',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL24',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL23',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL22',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL21',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL20',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL19',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL18',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL17',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL16',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL15',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL14',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=FL01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA14',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=GA01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=HI02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=HI01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=ID02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=ID01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL18',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL17',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL16',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL15',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL14',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IL01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IN01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IA04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IA03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IA02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=IA01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KS04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KS03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KS02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KS01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KY06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KY05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KY04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KY03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KY02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=KY01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=LA06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=LA05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=LA04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=LA03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=LA02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=LA01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=ME02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=ME01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MD01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MA01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI14',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MI01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MN01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MS04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MS03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MS02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MS01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MO01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=MT01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NE03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NE02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NE01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NV04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NV03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NV02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NV01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NH02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NH01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NJ01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NM03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NM02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NM01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY27',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY26',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY25',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY24',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY23',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY22',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY21',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY20',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY19',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY18',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY17',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY16',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY15',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY14',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY09',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY08',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY07',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY06',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY05',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY04',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY03',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY02',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NY01',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NC13',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NC12',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NC11',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NC10',
 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=NC09',

In [24]:
#for i in range(0, len(urls_st_dist)):
#    #requests.get()
#    from requests.exceptions import ConnectionError
#    try:
#       r = requests.get(urls_st_dist[i], timeout=5)
#    except ConnectionError as e:    # This is the correct syntax
#       print(e)
#    r = "No response"
#    data = response.content.decode('utf8')
#    df = pd.read_csv(io.StringIO(data))
    
#df

In [25]:
#for i in range(0, len(urls_st_dist)):
#    try:
#        r = requests.get(urls_st_dist[i], timeout=5)
#    except ConnectionError as e:    
#        print(e)
#        r = "No response"
#r
#        data = r.content.decode('utf8')
#data
#        df = pd.read_csv(io.StringIO(data))
    
#df

In [26]:
#for i in range(0, len(st_abbr)):
#    urls_st.append(open_secrets_csv_url_base + st_abbr[i])

#urls_st

In [27]:
#urls_st_dist = []
#for i in range(0, len(dist_num)):
#    for i in range(dist_num[i], 0, -1):
#        urls_st_dist.append(i)
#        print(i)
#urls_st_dist
#dist_num[i]

In [28]:
# nitin's code
#Lets define function to get the dataFrame for district

def getDistrictData(state_dist_code):
    url = f'https://www.opensecrets.org/races/summary.csv?cycle=2020&id={state_dist_code}'

    #Lets use try-except whenever we make any any http request.
    #If we invoke .raise_for_status(), then Requests will raise an HTTPError for status codes between 400 and 600. 
    #If the status code indicates a successful request, then the program will proceed without raising that exception.

    try:
        response = requests.get(url)
        response.raise_for_status()
    except HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")
    except Exception as err:
        print(f"Other error occurred: {err}")
    else:
        data = response.content.decode('utf8')
        df = pd.read_csv(io.StringIO(data))

    #Lets populate the district ID column with TN07 so that we could use it later
    df['DistIDCurr']= state_dist_code
    return df

#Lets define dictionary with state and district code.
districtList = ['01','02','03','04','05','06','07','08','09']
StateDistricts = {
    "state":'TN',
    "Districts": districtList
}

#lets define the dataframe list which we can use later to cooncatenate all district data
frameList=[]

for i in range(0,len(StateDistricts['Districts'])):
    DistrictCode = f'{StateDistricts["state"]}{StateDistricts["Districts"][i]}'
    frameList.append(getDistrictData(DistrictCode))

#dist08 = getDistrictData('TN08')
#dist08

StateDistrictframe = pd.concat(frameList)
StateDistrictframe

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00046688,Diana Harshbarger (R),2126945.60,1869099.77,222800.00,359728.50,1461293.00,83124.10,257845.83,315489.10,...,W,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN01,0,2,N
1,N00046686,Blair Nicole Walsingham (D),140209.14,134994.55,1520.00,138689.14,0.00,0.00,5214.59,70085.20,...,L,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN01,0,2,N
2,N00047760,Steve Holder (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN01,0,2,N
0,N00041594,Tim Burchett (R),1336275.75,878487.63,269535.00,1072845.61,0.00,-6104.86,593677.72,729831.26,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN02,0,1,N
1,N00041699,Renee Hoyos (D),812783.86,816793.15,3100.00,807459.01,0.00,2224.85,209.82,807459.01,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN02,0,2,N
2,N00047761,Matthew Campbell (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN02,0,2,N
0,N00030815,Chuck Fleischmann (R),1051653.39,381411.20,453858.46,603344.93,0.00,-5550.00,1880341.32,599059.93,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,1,N
1,N00046911,Meg Gorman (D),85843.21,77759.83,2671.60,81271.61,2000.00,-100.00,8083.38,50245.20,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
2,N00046589,Nancy Baxley (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
3,N00047762,Amber Hysell (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
4,N00047763,Keith Douglas Sweitzer (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
0,N00030957,Scott Desjarlais (R),331464.00,392499.01,124249.00,207465.00,0.00,-250.00,302649.35,204598.00,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN04,0,1,N
1,N00043460,Christopher Hale (D),308730.75,302995.83,2697.53,280409.05,30042.32,-4418.15,5734.92,102068.60,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN04,0,2,N
0,N00003132,Jim Cooper (D),936569.00,1332130.98,430750.00,508289.15,0.00,-2470.15,272934.31,470361.80,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN05,0,1,N
1,N00046044,Craig Wildenradt (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN05,0,2,N
0,N00041599,John Rose (R),1050428.96,625687.54,417700.00,584744.00,463915.17,-415930.21,454374.98,575870.00,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN06,0,1,N
1,N00043533,Chris Finley (D),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN06,0,2,N
2,N00041188,Christopher Monday (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN06,0,2,N
0,N00041873,Mark Green (R),1194960.47,935486.67,171900.00,819151.42,0.00,203909.05,287888.55,819151.42,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,1,N
1,N00045536,Kiran Sreepada (D),206644.28,207190.98,4000.00,202644.28,0.00,0.00,0.00,179129.75,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
2,N00047077,Ronald Brown (I),1750.00,0.00,0.00,1750.00,0.00,0.00,9006.00,300.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
3,N00046592,Scott Vieira Jr (I),655.47,1048.51,10.00,45.00,35.00,565.47,-196.52,0.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
4,N00045535,Benjamin Estes (3),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
0,N00025445,David Kustoff (R),1641216.54,999284.67,693750.00,1017499.01,0.00,-70032.47,713832.23,990617.09,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN08,0,1,N
1,N00039845,Erika Stotts Pearson (D),19069.58,15882.91,152.00,13199.88,5717.70,0.00,4137.34,11700.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN08,0,2,N
2,N00047764,Jon Dillard (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN08,0,2,N
0,N00003225,Steve Cohen (D),607570.38,457311.46,409087.34,195151.33,0.00,3331.71,1216118.85,179222.09,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,1,N
1,N00032405,Charlotte Bergmann (R),99146.77,100531.99,823.96,43997.68,48825.13,5500.00,2565.82,35224.18,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,2,N
2,N00047364,Dennis Clark (I),9990.83,9919.03,0.00,402.00,9488.83,100.00,39.80,125.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,2,N
3,N00046862,Bobby Lyons (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,2,N

In [29]:
#states_df.head()

In [30]:
#states_df.columns = states_df.columns.droplevel()
#states_df

In [31]:
import pandas as pd
webpage_url = "https://en.wikipedia.org/wiki/List_of_U.S._state_and_territory_abbreviations"
webpage_tables = pd.read_html(webpage_url)
states_df = webpage_tables[1]
states_df
states_df.columns = states_df.columns.droplevel()

In [32]:
states_df.head(60)

,Name,Status of region,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,GPO,AP,Other abbreviations
0,United States of America,Federal state,US USA 840,US,0.0,NaN,NaN,U.S.,U.S.,U.S.A.
1,Alabama,State,US-AL,AL,1.0,AL,AL,Ala.,Ala.,NaN
2,Alaska,State,US-AK,AK,2.0,AK,AK,Alaska,Alaska,Ak.[2]
3,Arizona,State,US-AZ,AZ,4.0,AZ,AZ,Ariz.,Ariz.,NaN
4,Arkansas,State,US-AR,AR,5.0,AR,AR,Ark.,Ark.,NaN
5,California,State,US-CA,CA,6.0,CA,CF,Calif.,Calif.,Cal.
6,Colorado,State,US-CO,CO,8.0,CO,CL,Colo.,Colo.,NaN
7,Connecticut,State,US-CT,CT,9.0,CT,CT,Conn.,Conn.,NaN
8,Delaware,State,US-DE,DE,10.0,DE,DL,Del.,Del.,NaN
9,District of Columbia,Federal district,US-DC,DC,11.0,DC,DC,D.C.,D.C.,Dis. Col.[3]
10,Florida,State,US-FL,FL,12.0,FL,FL,Fla.,Fla.,NaN
11,Georgia,State,US-GA,GA,13.0,GA,GA,Ga.,Ga.,Geo.[2]
12,Hawaii,State,US-HI,HI,15.0,HI,HA,Hawaii,Hawaii,Hi.;[2] Haw.
13,Idaho,State,US-ID,ID,16.0,ID,ID,Idaho,Idaho,Ida.[2]
14,Illinois,State,US-IL,IL,17.0,IL,IL,Ill.,Ill.,NaN
15,Indiana,State,US-IN,IN,18.0,IN,IN,Ind.,Ind.,NaN
16,Iowa,State,US-IA,IA,19.0,IA,IA,Iowa,Iowa,Ioa.[a]
17,Kansas,State,US-KS,KS,20.0,KS,KA,Kans.,Kan.,Ka.
18,Kentucky,State (officially Commonwealth),US-KY,KY,21.0,KY,KY,Ky.,Ky.,"Ken., Kent.[b]"
19,Louisiana,State,US-LA,LA,22.0,LA,LA,La.,La.,NaN
20,Maine,State,US-ME,ME,23.0,ME,ME,Maine,Maine,NaN
21,Maryland,State,US-MD,MD,24.0,MD,MD,Md.,Md.,"Mar., Mary."
22,Massachusetts,State (officially Commonwealth),US-MA,MA,25.0,MA,MS,Mass.,Mass.,NaN
23,Michigan,State,US-MI,MI,26.0,MI,MC,Mich.,Mich.,NaN
24,Minnesota,State,US-MN,MN,27.0,MN,MN,Minn.,Minn.,NaN
25,Mississippi,State,US-MS,MS,28.0,MS,MI,Miss.,Miss.,NaN
26,Missouri,State,US-MO,MO,29.0,MO,MO,Mo.,Mo.,NaN
27,Montana,State,US-MT,MT,30.0,MT,MT,Mont.,Mont.,NaN
28,Nebraska,State,US-NE,NE,31.0,NE,NB,Nebr.,Neb.,NaN
29,Nevada,State,US-NV,NV,32.0,NV,NV,Nev.,Nev.,NaN
30,New Hampshire,State,US-NH,NH,33.0,NH,NH,N.H.,N.H.,NaN
31,New Jersey,State,US-NJ,NJ,34.0,NJ,NJ,N.J.,N.J.,N. Jersey[3]
32,New Mexico,State,US-NM,NM,35.0,NM,NM,N. Mex.,N.M.,"New M., New Mex."
33,New York,State,US-NY,NY,36.0,NY,NY,N.Y.,N.Y.,N. York[3]
34,North Carolina,State,US-NC,NC,37.0,NC,NC,N.C.,N.C.,N. Car.
35,North Dakota,State,US-ND,ND,38.0,ND,ND,N. Dak.,N.D.,NaN
36,Ohio,State,US-OH,OH,39.0,OH,OH,Ohio,Ohio,"O.,[4] Oh.[2]"
37,Oklahoma,State,US-OK,OK,40.0,OK,OK,Okla.,Okla.,NaN
38,Oregon,State,US-OR,OR,41.0,OR,OR,Oreg.,Ore.,NaN
39,Pennsylvania,State (officially Commonwealth),US-PA,PA,42.0,PA,PA,Pa.,Pa.,"Penn.,[2] Penna.[5]"
40,Rhode Island,State,US-RI,RI,44.0,RI,RI,R.I.,R.I.,R.I. & P.P.
41,South Carolina,State,US-SC,SC,45.0,SC,SC,S.C.,S.C.,S. Car.
42,South Dakota,State,US-SD,SD,46.0,SD,SD,S. Dak.,S.D.,SoDak
43,Tennessee,State,US-TN,TN,47.0,TN,TN,Tenn.,Tenn.,NaN
44,Texas,State,US-TX,TX,48.0,TX,TX,Tex.,Texas,NaN
45,Utah,State,US-UT,UT,49.0,UT,UT,Utah,Utah,Ut.[2]
46,Vermont,State,US-VT,VT,50.0,VT,VT,Vt.,Vt.,Verm.[6]
47,Virginia,State (officially Commonwealth),US-VA,VA,51.0,VA,VA,Va.,Va.,Virg.
48,Washington,State,US-WA,WA,53.0,WA,WN,Wash.,Wash.,Wn.[7]
49,West Virginia,State,US-WV,WV,54.0,WV,WV,W. Va.,W.Va.,"W.V., W. Virg."
50,Wisconsin,State,US-WI,WI,55.0,WI,WS,Wis.,Wis.,Wisc.
51,Wyoming,State,US-WY,WY,56.0,WY,WY,Wyo.,Wyo.,NaN
52,American Samoa,Insular area (Territory),AS ASM 016 US-AS,AS,60.0,AS,AS,A.S.,NaN,NaN
53,Guam,Insular area (Territory),GU GUM 316 US-GU,GU,66.0,GU,GU,Guam,NaN,NaN
54,Northern Mariana Islands,Insular area (Commonwealth),MP MNP 580 US-MP,MP,69.0,MP,CM,M.P.,NaN,CNMI[8]
55,Puerto Rico,Insular area (Commonwealth),PR PRI 630 US-PR,PR,72.0,PR,PR,P.R.,NaN,NaN
56,U.S. Virgin Islands,Insular area (Territory),VI VIR 850 US-VI,VI,78.0,VI,VI,V.I.,NaN,U.S.V.I.
57,U.S. Minor Outlying Islands,Insular areas,UM UMI 581 US-UM,UM,74.0,UM[9],NaN,NaN,NaN,NaN
58,Baker Island,Island,UM-81,NaN,81.0,NaN,NaN,NaN,NaN,XB[10]
59,Howland Island,Island,UM-84,NaN,84.0,NaN,NaN,NaN,NaN,XH[10]

In [33]:
states_terr_df = states_df.dropna(subset='Unnamed: 6_level_1')
states_terr_df

,Name,Status of region,Unnamed: 2_level_1,Unnamed: 3_level_1,Unnamed: 4_level_1,Unnamed: 5_level_1,Unnamed: 6_level_1,GPO,AP,Other abbreviations
1,Alabama,State,US-AL,AL,1.0,AL,AL,Ala.,Ala.,NaN
2,Alaska,State,US-AK,AK,2.0,AK,AK,Alaska,Alaska,Ak.[2]
3,Arizona,State,US-AZ,AZ,4.0,AZ,AZ,Ariz.,Ariz.,NaN
4,Arkansas,State,US-AR,AR,5.0,AR,AR,Ark.,Ark.,NaN
5,California,State,US-CA,CA,6.0,CA,CF,Calif.,Calif.,Cal.
6,Colorado,State,US-CO,CO,8.0,CO,CL,Colo.,Colo.,NaN
7,Connecticut,State,US-CT,CT,9.0,CT,CT,Conn.,Conn.,NaN
8,Delaware,State,US-DE,DE,10.0,DE,DL,Del.,Del.,NaN
9,District of Columbia,Federal district,US-DC,DC,11.0,DC,DC,D.C.,D.C.,Dis. Col.[3]
10,Florida,State,US-FL,FL,12.0,FL,FL,Fla.,Fla.,NaN
11,Georgia,State,US-GA,GA,13.0,GA,GA,Ga.,Ga.,Geo.[2]
12,Hawaii,State,US-HI,HI,15.0,HI,HA,Hawaii,Hawaii,Hi.;[2] Haw.
13,Idaho,State,US-ID,ID,16.0,ID,ID,Idaho,Idaho,Ida.[2]
14,Illinois,State,US-IL,IL,17.0,IL,IL,Ill.,Ill.,NaN
15,Indiana,State,US-IN,IN,18.0,IN,IN,Ind.,Ind.,NaN
16,Iowa,State,US-IA,IA,19.0,IA,IA,Iowa,Iowa,Ioa.[a]
17,Kansas,State,US-KS,KS,20.0,KS,KA,Kans.,Kan.,Ka.
18,Kentucky,State (officially Commonwealth),US-KY,KY,21.0,KY,KY,Ky.,Ky.,"Ken., Kent.[b]"
19,Louisiana,State,US-LA,LA,22.0,LA,LA,La.,La.,NaN
20,Maine,State,US-ME,ME,23.0,ME,ME,Maine,Maine,NaN
21,Maryland,State,US-MD,MD,24.0,MD,MD,Md.,Md.,"Mar., Mary."
22,Massachusetts,State (officially Commonwealth),US-MA,MA,25.0,MA,MS,Mass.,Mass.,NaN
23,Michigan,State,US-MI,MI,26.0,MI,MC,Mich.,Mich.,NaN
24,Minnesota,State,US-MN,MN,27.0,MN,MN,Minn.,Minn.,NaN
25,Mississippi,State,US-MS,MS,28.0,MS,MI,Miss.,Miss.,NaN
26,Missouri,State,US-MO,MO,29.0,MO,MO,Mo.,Mo.,NaN
27,Montana,State,US-MT,MT,30.0,MT,MT,Mont.,Mont.,NaN
28,Nebraska,State,US-NE,NE,31.0,NE,NB,Nebr.,Neb.,NaN
29,Nevada,State,US-NV,NV,32.0,NV,NV,Nev.,Nev.,NaN
30,New Hampshire,State,US-NH,NH,33.0,NH,NH,N.H.,N.H.,NaN
31,New Jersey,State,US-NJ,NJ,34.0,NJ,NJ,N.J.,N.J.,N. Jersey[3]
32,New Mexico,State,US-NM,NM,35.0,NM,NM,N. Mex.,N.M.,"New M., New Mex."
33,New York,State,US-NY,NY,36.0,NY,NY,N.Y.,N.Y.,N. York[3]
34,North Carolina,State,US-NC,NC,37.0,NC,NC,N.C.,N.C.,N. Car.
35,North Dakota,State,US-ND,ND,38.0,ND,ND,N. Dak.,N.D.,NaN
36,Ohio,State,US-OH,OH,39.0,OH,OH,Ohio,Ohio,"O.,[4] Oh.[2]"
37,Oklahoma,State,US-OK,OK,40.0,OK,OK,Okla.,Okla.,NaN
38,Oregon,State,US-OR,OR,41.0,OR,OR,Oreg.,Ore.,NaN
39,Pennsylvania,State (officially Commonwealth),US-PA,PA,42.0,PA,PA,Pa.,Pa.,"Penn.,[2] Penna.[5]"
40,Rhode Island,State,US-RI,RI,44.0,RI,RI,R.I.,R.I.,R.I. & P.P.
41,South Carolina,State,US-SC,SC,45.0,SC,SC,S.C.,S.C.,S. Car.
42,South Dakota,State,US-SD,SD,46.0,SD,SD,S. Dak.,S.D.,SoDak
43,Tennessee,State,US-TN,TN,47.0,TN,TN,Tenn.,Tenn.,NaN
44,Texas,State,US-TX,TX,48.0,TX,TX,Tex.,Texas,NaN
45,Utah,State,US-UT,UT,49.0,UT,UT,Utah,Utah,Ut.[2]
46,Vermont,State,US-VT,VT,50.0,VT,VT,Vt.,Vt.,Verm.[6]
47,Virginia,State (officially Commonwealth),US-VA,VA,51.0,VA,VA,Va.,Va.,Virg.
48,Washington,State,US-WA,WA,53.0,WA,WN,Wash.,Wash.,Wn.[7]
49,West Virginia,State,US-WV,WV,54.0,WV,WV,W. Va.,W.Va.,"W.V., W. Virg."
50,Wisconsin,State,US-WI,WI,55.0,WI,WS,Wis.,Wis.,Wisc.
51,Wyoming,State,US-WY,WY,56.0,WY,WY,Wyo.,Wyo.,NaN
52,American Samoa,Insular area (Territory),AS ASM 016 US-AS,AS,60.0,AS,AS,A.S.,NaN,NaN
53,Guam,Insular area (Territory),GU GUM 316 US-GU,GU,66.0,GU,GU,Guam,NaN,NaN
54,Northern Mariana Islands,Insular area (Commonwealth),MP MNP 580 US-MP,MP,69.0,MP,CM,M.P.,NaN,CNMI[8]
55,Puerto Rico,Insular area (Commonwealth),PR PRI 630 US-PR,PR,72.0,PR,PR,P.R.,NaN,NaN
56,U.S. Virgin Islands,Insular area (Territory),VI VIR 850 US-VI,VI,78.0,VI,VI,V.I.,NaN,U.S.V.I.

In [34]:
states_terr_df_dropped = states_terr_df[['Name', 'Unnamed: 5_level_1']]
states_terr_df_dropped.head(2)

      Name Unnamed: 5_level_1
1  Alabama                 AL
2   Alaska                 AK

In [35]:
st_rep_df_merged_drop.head(2)

  Abbreviation  Number of Districts
0           AL                    7
1           AK                    1

In [36]:
states_terr_repnum_df = pd.merge(states_terr_df_dropped, st_rep_df_merged_drop, left_on='Unnamed: 5_level_1', right_on='Abbreviation', how='outer')

In [37]:
states_terr_repnum_df.head()

             Name Unnamed: 5_level_1 Abbreviation  Number of Districts
0          Alaska                 AK           AK                  1.0
1         Alabama                 AL           AL                  7.0
2        Arkansas                 AR           AR                  4.0
3  American Samoa                 AS          NaN                  NaN
4         Arizona                 AZ           AZ                  9.0

In [38]:
# drop Abbrvs column and rename state and terr column and change float in int on number of dists

In [39]:
states_terr_repnum_df = states_terr_repnum_df.fillna(0)

In [40]:
states_terr_repnum_df['Number of Districts'] = states_terr_repnum_df['Number of Districts'].astype(int)
states_terr_repnum_df.head(2)

      Name Unnamed: 5_level_1 Abbreviation  Number of Districts
0   Alaska                 AK           AK                    1
1  Alabama                 AL           AL                    7

In [41]:
states_terr_repnum_df = states_terr_repnum_df.rename(columns={'Unnamed: 5_level_1': 'State Abbr'}).drop(columns='Abbreviation')
states_terr_repnum_df.head()

             Name State Abbr  Number of Districts
0          Alaska         AK                    1
1         Alabama         AL                    7
2        Arkansas         AR                    4
3  American Samoa         AS                    0
4         Arizona         AZ                    9

In [42]:
#states_terr_df = states_df['USPS'].dropna(subset='Unnamed: 6_level_1')
#states_terr_df.head(2)
#st_rep_df_merged_drop = st_rep_df_merged_drop.rename(columns={'Abbreviation':'US State'})
#st_rep_df_merged_drop.head()
#pd.merge(df1, df2, left_on='left_column_name', right_on='right_column_name')

In [43]:
#states_terr_df.tail()

In [44]:
#pd.merge(st_rep_df_merged_drop, states_terr_df, left_on='US State', right_on='Unnamed: 6_level_1', how='outer')

In [45]:
#test = pd.merge(states_terr_df_rnm, st_rep_df_merged_drop, on = "US State", how = "left")
#test.head(50)