# An Analysis of Political Contributions During the 2020 House of Representatives Election

In this part, you will obtain as much data as you can on the campaign contributions received by each candidate. This data is avaiable through the website https://www.opensecrets.org/.

### Part 1: Data Gathering

#### 1. Start by acquiring the data from Tennessee's 7th District, which is available at https://www.opensecrets.org/races/summary?cycle=2020&id=TN07&spec=N. If you click the "Download .csv file", you can get a csv for this district. However, we don't want to have to click this button across all districts. Instead, we'll use Python to help automate this process. Start by sending a get request to the download button URL, https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07. Convert the result to a DataFrame.

In [29]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
from IPython.core.display import HTML
import io
import re
import regex
import csv
from datetime import datetime as dt
import urllib3
from IPython.core.display import HTML
import re
from requests.exceptions import ConnectionError
import numpy as np

In [2]:
url = 'https://www.opensecrets.org/races/summary.csv?cycle=2020&id=TN07'

#Lets use try-except whenever we make any any http request.

#If we invoke .raise_for_status(), then Requests will raise an HTTPError for status codes between 400 and 600. 
#If the status code indicates a successful request, then the program will proceed without raising that exception.

try:
    response = requests.get(url)
    response.raise_for_status()
except HTTPError as http_err:
    print(f"HTTP error occurred: {http_err}")
except Exception as err:
    print(f"Other error occurred: {err}")
else:
    data = response.content.decode('utf8')
    df = pd.read_csv(io.StringIO(data))

#Lets populate the district ID column with TN07 so that we could use it later
df['DistIDCurr']='TN07'
df

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00041873,Mark Green (R),1194960.47,935486.67,171900.0,819151.42,0.0,203909.05,287888.55,819151.42,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,1,N
1,N00045536,Kiran Sreepada (D),206644.28,207190.98,4000.0,202644.28,0.0,0.00,0.00,179129.75,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
2,N00047077,Ronald Brown (I),1750.00,0.00,0.0,1750.00,0.0,0.00,9006.00,300.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
3,N00046592,Scott Vieira Jr (I),655.47,1048.51,10.0,45.00,35.0,565.47,-196.52,0.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
4,N00045535,Benjamin Estes (3),0.00,0.00,0.0,0.00,0.0,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N

#### 2. Once you have working code for Tennessee's 7th District, expand on your code to capture all of Tennessee's districts into a single DataFrame. Make sure that you can distinguish which district each result came from. Export the results to a csv file.

In [98]:
#Lets define function to get the dataFrame for district

def getDistrictData(districtCode):
    url = f'https://www.opensecrets.org/races/summary.csv?cycle=2020&id={districtCode}'

    #Lets use try-except whenever we make any any http request.
    #If we invoke .raise_for_status(), then Requests will raise an HTTPError for status codes between 400 and 600. 
    #If the status code indicates a successful request, then the program will proceed without raising that exception.

    try:
        response = requests.get(url)
        response.raise_for_status()
    except HTTPError as http_err:
        print(f"HTTP error occurred: {http_err}")
    except Exception as err:
        print(f"Other error occurred: {err}")
    else:
        data = response.content.decode('utf8')
        df = pd.read_csv(io.StringIO(data))

    #Lets populate the district ID column with TN07 so that we could use it later
    df['DistIDCurr']= districtCode
    return df

    

#Lets define dictionary with state and district code.
districtList = ['01','02','03','04','05','06','07','08','09']
StateDistricts = {
    "state":'TN',
    "Districts": districtList
}

#lets define the dataframe list which we can use later to cooncatenate all district data
frameList=[]

for i in range(0,len(StateDistricts['Districts'])):
    DistrictCode = f'{StateDistricts["state"]}{StateDistricts["Districts"][i]}'
    frameList.append(getDistrictData(DistrictCode))

StateDistrictframe = pd.concat(frameList, ignore_index=True)
StateDistrictframe.to_csv('.\/data\/TNDistrictData.csv', index=False)
StateDistrictframe

,cid,FirstLastP,Rcpts,Spent,PACs,Indivs,Cand,Other,EndCash,LgIndivs,...,Result,CRPICO,State,IncCID,Incumbent,primarydate,DistIDCurr,capeye,sort,SmLgIndivsNote
0,N00046688,Diana Harshbarger (R),2126945.60,1869099.77,222800.00,359728.50,1461293.00,83124.10,257845.83,315489.10,...,W,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN01,0,2,N
1,N00046686,Blair Nicole Walsingham (D),140209.14,134994.55,1520.00,138689.14,0.00,0.00,5214.59,70085.20,...,L,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN01,0,2,N
2,N00047760,Steve Holder (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,O,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN01,0,2,N
3,N00041594,Tim Burchett (R),1336275.75,878487.63,269535.00,1072845.61,0.00,-6104.86,593677.72,729831.26,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN02,0,1,N
4,N00041699,Renee Hoyos (D),812783.86,816793.15,3100.00,807459.01,0.00,2224.85,209.82,807459.01,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN02,0,2,N
5,N00047761,Matthew Campbell (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN02,0,2,N
6,N00030815,Chuck Fleischmann (R),1051653.39,381411.20,453858.46,603344.93,0.00,-5550.00,1880341.32,599059.93,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,1,N
7,N00046911,Meg Gorman (D),85843.21,77759.83,2671.60,81271.61,2000.00,-100.00,8083.38,50245.20,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
8,N00046589,Nancy Baxley (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
9,N00047762,Amber Hysell (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
10,N00047763,Keith Douglas Sweitzer (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN03,0,2,N
11,N00030957,Scott Desjarlais (R),331464.00,392499.01,124249.00,207465.00,0.00,-250.00,302649.35,204598.00,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN04,0,1,N
12,N00043460,Christopher Hale (D),308730.75,302995.83,2697.53,280409.05,30042.32,-4418.15,5734.92,102068.60,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN04,0,2,N
13,N00003132,Jim Cooper (D),936569.00,1332130.98,430750.00,508289.15,0.00,-2470.15,272934.31,470361.80,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN05,0,1,N
14,N00046044,Craig Wildenradt (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN05,0,2,N
15,N00041599,John Rose (R),1050428.96,625687.54,417700.00,584744.00,463915.17,-415930.21,454374.98,575870.00,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN06,0,1,N
16,N00043533,Chris Finley (D),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN06,0,2,N
17,N00041188,Christopher Monday (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN06,0,2,N
18,N00041873,Mark Green (R),1194960.47,935486.67,171900.00,819151.42,0.00,203909.05,287888.55,819151.42,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,1,N
19,N00045536,Kiran Sreepada (D),206644.28,207190.98,4000.00,202644.28,0.00,0.00,0.00,179129.75,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
20,N00047077,Ronald Brown (I),1750.00,0.00,0.00,1750.00,0.00,0.00,9006.00,300.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
21,N00046592,Scott Vieira Jr (I),655.47,1048.51,10.00,45.00,35.00,565.47,-196.52,0.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
22,N00045535,Benjamin Estes (3),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN07,0,2,N
23,N00025445,David Kustoff (R),1641216.54,999284.67,693750.00,1017499.01,0.00,-70032.47,713832.23,990617.09,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN08,0,1,N
24,N00039845,Erika Stotts Pearson (D),19069.58,15882.91,152.00,13199.88,5717.70,0.00,4137.34,11700.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN08,0,2,N
25,N00047764,Jon Dillard (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN08,0,2,N
26,N00003225,Steve Cohen (D),607570.38,457311.46,409087.34,195151.33,0.00,3331.71,1216118.85,179222.09,...,W,I,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,1,N
27,N00032405,Charlotte Bergmann (R),99146.77,100531.99,823.96,43997.68,48825.13,5500.00,2565.82,35224.18,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,2,N
28,N00047364,Dennis Clark (I),9990.83,9919.03,0.00,402.00,9488.83,100.00,39.80,125.00,...,L,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,2,N
29,N00046862,Bobby Lyons (I),0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,,C,Tennessee,NaN,NaN,2020-08-06 00:00:00 +0000,TN09,0,2,N

In [4]:
wiki_rep_url = 'https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States'

r = requests.get(wiki_rep_url)
wiki_rep_soup = BeautifulSoup(r.text, features="html.parser")
wiki_rep_soup
table_html_rep_wiki = str(wiki_rep_soup.find('table', attrs={'class':'wikitable','class': 'sortable'}))
HTML(table_html_rep_wiki)


wiki_rep_df = pd.read_html(io.StringIO(str(table_html_rep_wiki)))[0]
wiki_rep_df
#wiki_rep_df_limited = wiki_rep_df[['Reps.']]
#wiki_rep_df_limited
#wiki_rep_df_limited_flat = wiki_rep_df_limited.to_csv(header=None,index=False)
#wiki_rep_df_limited_flat_df = pd.read_csv(io.StringIO(wiki_rep_df_limited_flat), names=['US State', 'Number of Districts'])
#wiki_rep_df_limited_flat_df.head(2)

   Flag, name and postal abbreviation[8]  \
   Flag, name and postal abbreviation[8]
0                                Alabama
1                                 Alaska
2                                Arizona
3                               Arkansas
4                             California
5                               Colorado
6                            Connecticut
7                               Delaware
8                                Florida
9                                Georgia
10                                Hawaii
11                                 Idaho
12                              Illinois
13                               Indiana
14                                  Iowa
15                                Kansas
16                           Kentucky[B]
17                             Louisiana
18                                 Maine
19                              Maryland
20                      Massachusetts[B]
21                              Michigan
22                             Minnesota
23                           Mississippi
24                              Missouri
25                               Montana
26                              Nebraska
27                                Nevada
28                         New Hampshire
29                            New Jersey
30                            New Mexico
31                              New York
32                        North Carolina
33                          North Dakota
34                                  Ohio
35                              Oklahoma
36                                Oregon
37                       Pennsylvania[B]
38                          Rhode Island
39                        South Carolina
40                          South Dakota
41                             Tennessee
42                                 Texas
43                                  Utah
44                               Vermont
45                           Virginia[B]
46                            Washington
47                         West Virginia
48                             Wisconsin
49                               Wyoming

                                                    Cities                  \
   Flag, name and postal abbreviation[8].1         Capital     Largest[12]
0                                       AL      Montgomery      Huntsville
1                                       AK          Juneau       Anchorage
2                                       AZ         Phoenix         Phoenix
3                                       AR     Little Rock     Little Rock
4                                       CA      Sacramento     Los Angeles
5                                       CO          Denver          Denver
6                                       CT        Hartford      Bridgeport
7                                       DE           Dover      Wilmington
8                                       FL     Tallahassee    Jacksonville
9                                       GA         Atlanta         Atlanta
10                                      HI        Honolulu        Honolulu
11                                      ID           Boise           Boise
12                                      IL     Springfield         Chicago
13                                      IN    Indianapolis    Indianapolis
14                                      IA      Des Moines      Des Moines
15                                      KS          Topeka         Wichita
16                                      KY       Frankfort      Louisville
17                                      LA     Baton Rouge     New Orleans
18                                      ME         Augusta        Portland
19                                      MD       Annapolis       Baltimore
20                                      MA          Boston          Boston
21                                      MI         Lansing         Detroit
22                                      MN      Saint Paul     Minneapolis
23                                      MS         Jackson         Jackson
24                                      MO  Jefferson City     Kansas City
25                                      MT          Helena        Billings
26                                      NE         Lincoln           Omaha
27                                      NV     Carson City       Las Vegas
28                                      NH         Concord      Manchester
29                                      NJ         Trenton          Newark
30                                      NM        Santa Fe     Albuquerque
31                                      NY          Albany   New York City
32                                      NC         Raleigh       Charlotte
33                                      ND        Bismarck           Fargo
34                                      OH        Columbus        Columbus
35                                      OK   Oklahoma City   Oklahoma City
36                                      OR           Salem        Portland
37                                      PA      Harrisburg    Philadelphia
38                                      RI      Providence      Providence
39                                      SC        Columbia      Charleston
40                                      SD          Pierre     Sioux Falls
41                                      TN       Nashville       Nashville
42                                      TX          Austin         Houston
43                                      UT  Salt Lake City  Salt Lake City
44                                      VT      Montpelier      Burlington
45                                      VA        Richmond  Virginia Beach
46                                      WA         Olympia         Seattle
47                                      WV      Charleston      Charleston
48                                      WI         Madison       Milwaukee
49                                      WY        Cheyenne        Cheyenne

   Ratification or admission[A] Population (2020)[10] Total area[11]           \
   Ratification or admission[A] Population (2020)[10]            mi2      km2
0                  Dec 14, 1819               5024279          52420   135767
1                   Jan 3, 1959                733391         665384  1723337
2                  Feb 14, 1912               7151502         113990   295234
3                  Jun 15, 1836               3011524          53179   137732
4                   Sep 9, 1850              39538223         163695   423967
5                   Aug 1, 1876               5773714         104094   269601
6                   Jan 9, 1788               3605944           5543    14357
7                   Dec 7, 1787                989948           2489     6446
8                   Mar 3, 1845              21538187          65758   170312
9                   Jan 2, 1788              10711908          59425   153910
10                 Aug 21, 1959               1455271          10932    28313
11                  Jul 3, 1890               1839106          83569   216443
12                  Dec 3, 1818              12812508          57914   149995
13                 Dec 11, 1816               6785528          36420    94326
14                 Dec 28, 1846               3190369          56273   145746
15                 Jan 29, 1861               2937880          82278   213100
16                  Jun 1, 1792               4505836          40408   104656
17                 Apr 30, 1812               4657757          52378   135659
18                 Mar 15, 1820               1362359          35380    91633
19                 Apr 28, 1788               6177224          12406    32131
20                  Feb 6, 1788               7029917          10554    27336
21                 Jan 26, 1837              10077331          96714   250487
22                 May 11, 1858               5706494          86936   225163
23                 Dec 10, 1817               2961279          48432   125438
24                 Aug 10, 1821               6154913          69707   180540
25                  Nov 8, 1889               1084225         147040   380831
26                  Mar 1, 1867               1961504          77348   200330
27                 Oct 31, 1864               3104614         110572   286380
28                 Jun 21, 1788               1377529           9349    24214
29                 Dec 18, 1787               9288994           8723    22591
30                  Jan 6, 1912               2117522         121590   314917
31                 Jul 26, 1788              20201249          54555   141297
32                 Nov 21, 1789              10439388          53819   139391
33                  Nov 2, 1889                779094          70698   183108
34                  Mar 1, 1803              11799448          44826   116098
35                 Nov 16, 1907               3959353          69899   181037
36                 Feb 14, 1859               4237256          98379   254799
37                 Dec 12, 1787              13002700          46054   119280
38                 May 29, 1790               1097379           1545     4001
39                 May 23, 1788               5118425          32020    82933
40                  Nov 2, 1889                886667          77116   199729
41                  Jun 1, 1796               6910840          42144   109153
42                 Dec 29, 1845              29145505         268596   695662
43                  Jan 4, 1896               3271616          84897   219882
44                  Mar 4, 1791                643077           9616    24906
45                 Jun 25, 1788               8631393          42775   110787
46                 Nov 11, 1889               7705281          71298   184661
47                 Jun 20, 1863               1793716          24230    62756
48                 May 29, 1848               5893718          65496   169635
49                 Jul 10, 1890                576851          97813   253335

   Reps.
   Reps.
0      7
1      1
2      9
3      4
4     52
5      8
6      5
7      1
8     28
9     14
10     2
11     2
12    17
13     9
14     4
15     4
16     6
17     6
18     2
19     8
20     9
21    13
22     8
23     4
24     8
25     2
26     3
27     4
28     2
29    12
30     3
31    26
32    14
33     1
34    15
35     5
36     6
37    17
38     2
39     7
40     1
41     9
42    38
43     4
44     1
45    11
46    10
47     2
48     8
49     1

In [5]:
import pandas as pd
webpage_url = "https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States"
webpage_tables = pd.read_html(webpage_url)
states_df = webpage_tables[1]
states_df = states_df.rename(columns={'Flag, name and postal abbreviation[8]':'stateName','Flag, name and postal abbreviation[8].1':'StateAbbr','Reps.':"NumDistricts"})
states_df = states_df.drop(columns={'Cities','Ratification or admission[A]','Population (2020)[10]','Total area[11]'})
states_df.columns = states_df.columns.droplevel()
states_df

C:\Users\nitin\AppData\Local\Temp\ipykernel_71692\1394851112.py:6: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  states_df = states_df.drop(columns={'Cities','Ratification or admission[A]','Population (2020)[10]','Total area[11]'})

           stateName StateAbbr  NumDistricts
0            Alabama        AL             7
1             Alaska        AK             1
2            Arizona        AZ             9
3           Arkansas        AR             4
4         California        CA            52
5           Colorado        CO             8
6        Connecticut        CT             5
7           Delaware        DE             1
8            Florida        FL            28
9            Georgia        GA            14
10            Hawaii        HI             2
11             Idaho        ID             2
12          Illinois        IL            17
13           Indiana        IN             9
14              Iowa        IA             4
15            Kansas        KS             4
16       Kentucky[B]        KY             6
17         Louisiana        LA             6
18             Maine        ME             2
19          Maryland        MD             8
20  Massachusetts[B]        MA             9
21          Michigan        MI            13
22         Minnesota        MN             8
23       Mississippi        MS             4
24          Missouri        MO             8
25           Montana        MT             2
26          Nebraska        NE             3
27            Nevada        NV             4
28     New Hampshire        NH             2
29        New Jersey        NJ            12
30        New Mexico        NM             3
31          New York        NY            26
32    North Carolina        NC            14
33      North Dakota        ND             1
34              Ohio        OH            15
35          Oklahoma        OK             5
36            Oregon        OR             6
37   Pennsylvania[B]        PA            17
38      Rhode Island        RI             2
39    South Carolina        SC             7
40      South Dakota        SD             1
41         Tennessee        TN             9
42             Texas        TX            38
43              Utah        UT             4
44           Vermont        VT             1
45       Virginia[B]        VA            11
46        Washington        WA            10
47     West Virginia        WV             2
48         Wisconsin        WI             8
49           Wyoming        WY             1

In [32]:
Fed_district_df = webpage_tables[2]
Fed_district_df = Fed_district_df.rename(columns={'Flag, name and postal abbreviation[8]':'stateName','Flag, name and postal abbreviation[8].1':'StateAbbr','Reps.':"NumDistricts"})
Fed_district_df = Fed_district_df.drop(columns={'Established','Population [10]','Total area[11]'})
Fed_district_df.columns = Fed_district_df.columns.droplevel()
Fed_district_df['NumDistricts']='0'
Fed_district_df

C:\Users\nitin\AppData\Local\Temp\ipykernel_71692\1210509502.py:3: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  Fed_district_df = Fed_district_df.drop(columns={'Established','Population [10]','Total area[11]'})

              stateName StateAbbr NumDistricts
0  District of Columbia        DC            0

In [33]:
territories_df= webpage_tables[3]
territories_df= territories_df.rename(columns={'Name and postal abbreviation[8]':'stateName','Name and postal abbreviation[8].1':'StateAbbr','Reps.':"NumDistricts"})
territories_df = territories_df.drop(columns={'Capital','Acquired [15]','Territorial status[16]','Population [10][17]','Total area[11]'})
territories_df.columns = territories_df.columns.droplevel()
territories_df['NumDistricts']='0'
territories_df

C:\Users\nitin\AppData\Local\Temp\ipykernel_71692\2744742703.py:3: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  territories_df = territories_df.drop(columns={'Capital','Acquired [15]','Territorial status[16]','Population [10][17]','Total area[11]'})

                  stateName StateAbbr NumDistricts
0            American Samoa        AS            0
1                      Guam        GU            0
2  Northern Mariana Islands        MP            0
3               Puerto Rico        PR            0
4       U.S. Virgin Islands        VI            0

In [65]:
state_district_df = pd.concat([states_df,Fed_district_df,territories_df],ignore_index=True)
state_district_df['NumDistricts'] = state_district_df['NumDistricts'].astype(int)
state_district_df

                   stateName StateAbbr  NumDistricts
0                    Alabama        AL             7
1                     Alaska        AK             1
2                    Arizona        AZ             9
3                   Arkansas        AR             4
4                 California        CA            52
5                   Colorado        CO             8
6                Connecticut        CT             5
7                   Delaware        DE             1
8                    Florida        FL            28
9                    Georgia        GA            14
10                    Hawaii        HI             2
11                     Idaho        ID             2
12                  Illinois        IL            17
13                   Indiana        IN             9
14                      Iowa        IA             4
15                    Kansas        KS             4
16               Kentucky[B]        KY             6
17                 Louisiana        LA             6
18                     Maine        ME             2
19                  Maryland        MD             8
20          Massachusetts[B]        MA             9
21                  Michigan        MI            13
22                 Minnesota        MN             8
23               Mississippi        MS             4
24                  Missouri        MO             8
25                   Montana        MT             2
26                  Nebraska        NE             3
27                    Nevada        NV             4
28             New Hampshire        NH             2
29                New Jersey        NJ            12
30                New Mexico        NM             3
31                  New York        NY            26
32            North Carolina        NC            14
33              North Dakota        ND             1
34                      Ohio        OH            15
35                  Oklahoma        OK             5
36                    Oregon        OR             6
37           Pennsylvania[B]        PA            17
38              Rhode Island        RI             2
39            South Carolina        SC             7
40              South Dakota        SD             1
41                 Tennessee        TN             9
42                     Texas        TX            38
43                      Utah        UT             4
44                   Vermont        VT             1
45               Virginia[B]        VA            11
46                Washington        WA            10
47             West Virginia        WV             2
48                 Wisconsin        WI             8
49                   Wyoming        WY             1
50      District of Columbia        DC             0
51            American Samoa        AS             0
52                      Guam        GU             0
53  Northern Mariana Islands        MP             0
54               Puerto Rico        PR             0
55       U.S. Virgin Islands        VI             0

In [88]:
def arrangeDistricts(num):
    defaultList=['00']
    returnList=[]
    if(num > 0):
        for i in range(1,num+1):
            if(i<10):
                returnList.append('0'+ str(i))
            else:
                returnList.append(str(i))
        
        return returnList
    
    return defaultList

state_district_df['DistrictCode'] = state_district_df['NumDistricts'].apply(arrangeDistricts)
state_district_df['combined'] = state_district_df[['StateAbbr','DistrictCode']].values.tolist()
state_district_df

,stateName,StateAbbr,NumDistricts,DistrictCode,combined
0,Alabama,AL,7,"[01, 02, 03, 04, 05, 06, 07]","[AL, [01, 02, 03, 04, 05, 06, 07]]"
1,Alaska,AK,1,[01],"[AK, [01]]"
2,Arizona,AZ,9,"[01, 02, 03, 04, 05, 06, 07, 08, 09]","[AZ, [01, 02, 03, 04, 05, 06, 07, 08, 09]]"
3,Arkansas,AR,4,"[01, 02, 03, 04]","[AR, [01, 02, 03, 04]]"
4,California,CA,52,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[CA, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
5,Colorado,CO,8,"[01, 02, 03, 04, 05, 06, 07, 08]","[CO, [01, 02, 03, 04, 05, 06, 07, 08]]"
6,Connecticut,CT,5,"[01, 02, 03, 04, 05]","[CT, [01, 02, 03, 04, 05]]"
7,Delaware,DE,1,[01],"[DE, [01]]"
8,Florida,FL,28,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[FL, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
9,Georgia,GA,14,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[GA, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
10,Hawaii,HI,2,"[01, 02]","[HI, [01, 02]]"
11,Idaho,ID,2,"[01, 02]","[ID, [01, 02]]"
12,Illinois,IL,17,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[IL, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
13,Indiana,IN,9,"[01, 02, 03, 04, 05, 06, 07, 08, 09]","[IN, [01, 02, 03, 04, 05, 06, 07, 08, 09]]"
14,Iowa,IA,4,"[01, 02, 03, 04]","[IA, [01, 02, 03, 04]]"
15,Kansas,KS,4,"[01, 02, 03, 04]","[KS, [01, 02, 03, 04]]"
16,Kentucky[B],KY,6,"[01, 02, 03, 04, 05, 06]","[KY, [01, 02, 03, 04, 05, 06]]"
17,Louisiana,LA,6,"[01, 02, 03, 04, 05, 06]","[LA, [01, 02, 03, 04, 05, 06]]"
18,Maine,ME,2,"[01, 02]","[ME, [01, 02]]"
19,Maryland,MD,8,"[01, 02, 03, 04, 05, 06, 07, 08]","[MD, [01, 02, 03, 04, 05, 06, 07, 08]]"
20,Massachusetts[B],MA,9,"[01, 02, 03, 04, 05, 06, 07, 08, 09]","[MA, [01, 02, 03, 04, 05, 06, 07, 08, 09]]"
21,Michigan,MI,13,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[MI, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
22,Minnesota,MN,8,"[01, 02, 03, 04, 05, 06, 07, 08]","[MN, [01, 02, 03, 04, 05, 06, 07, 08]]"
23,Mississippi,MS,4,"[01, 02, 03, 04]","[MS, [01, 02, 03, 04]]"
24,Missouri,MO,8,"[01, 02, 03, 04, 05, 06, 07, 08]","[MO, [01, 02, 03, 04, 05, 06, 07, 08]]"
25,Montana,MT,2,"[01, 02]","[MT, [01, 02]]"
26,Nebraska,NE,3,"[01, 02, 03]","[NE, [01, 02, 03]]"
27,Nevada,NV,4,"[01, 02, 03, 04]","[NV, [01, 02, 03, 04]]"
28,New Hampshire,NH,2,"[01, 02]","[NH, [01, 02]]"
29,New Jersey,NJ,12,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12]","[NJ, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
30,New Mexico,NM,3,"[01, 02, 03]","[NM, [01, 02, 03]]"
31,New York,NY,26,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[NY, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
32,North Carolina,NC,14,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[NC, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
33,North Dakota,ND,1,[01],"[ND, [01]]"
34,Ohio,OH,15,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[OH, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
35,Oklahoma,OK,5,"[01, 02, 03, 04, 05]","[OK, [01, 02, 03, 04, 05]]"
36,Oregon,OR,6,"[01, 02, 03, 04, 05, 06]","[OR, [01, 02, 03, 04, 05, 06]]"
37,Pennsylvania[B],PA,17,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[PA, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
38,Rhode Island,RI,2,"[01, 02]","[RI, [01, 02]]"
39,South Carolina,SC,7,"[01, 02, 03, 04, 05, 06, 07]","[SC, [01, 02, 03, 04, 05, 06, 07]]"
40,South Dakota,SD,1,[01],"[SD, [01]]"
41,Tennessee,TN,9,"[01, 02, 03, 04, 05, 06, 07, 08, 09]","[TN, [01, 02, 03, 04, 05, 06, 07, 08, 09]]"
42,Texas,TX,38,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 1...","[TX, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
43,Utah,UT,4,"[01, 02, 03, 04]","[UT, [01, 02, 03, 04]]"
44,Vermont,VT,1,[01],"[VT, [01]]"
45,Virginia[B],VA,11,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11]","[VA, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, ..."
46,Washington,WA,10,"[01, 02, 03, 04, 05, 06, 07, 08, 09, 10]","[WA, [01, 02, 03, 04, 05, 06, 07, 08, 09, 10]]"
47,West Virginia,WV,2,"[01, 02]","[WV, [01, 02]]"
48,Wisconsin,WI,8,"[01, 02, 03, 04, 05, 06, 07, 08]","[WI, [01, 02, 03, 04, 05, 06, 07, 08]]"
49,Wyoming,WY,1,[01],"[WY, [01]]"
50,District of Columbia,DC,0,[00],"[DC, [00]]"
51,American Samoa,AS,0,[00],"[AS, [00]]"
52,Guam,GU,0,[00],"[GU, [00]]"
53,Northern Mariana Islands,MP,0,[00],"[MP, [00]]"
54,Puerto Rico,PR,0,[00],"[PR, [00]]"
55,U.S. Virgin Islands,VI,0,[00],"[VI, [00]]"

In [102]:
feature_names = ['state','Districts']
def lists2dict(list1, list2):
    """Return a dictionary where list1 provides
    the keys and list2 provides the values."""

    # Zip lists: zipped_lists
    zipped_lists = zip(list1, list2)

    # Create a dictionary: rs_dict
    rs_dict = dict(zipped_lists)

    # Return the dictionary
    return rs_dict

# Turn list of lists into list of dicts: list_of_dicts
list_of_dicts = [lists2dict(feature_names,sublist) for sublist in state_district_df['combined']]
list_of_dicts[0]['state']

'AL'

In [104]:
#lets define the dataframe list which we can use later to cooncatenate all district data
frameList=[]

for i in range(0,len(list_of_dicts)):
    for j in range(0,len(list_of_dicts[i]['Districts'])):
        DistrictCode = f'{list_of_dicts[i]["state"]}{list_of_dicts[i]["Districts"][j]}'
        frameList.append(getDistrictData(DistrictCode))
    
    StateDistrictframe = pd.concat(frameList, ignore_index=True)
    StateDistrictframe.to_csv(f'.\/data\/{list_of_dicts[i]["state"]}.csv', index=False)
    
#StateDistrictframe